[user]
	name = Xuehai Pan
	email = XuehaiPan@pku.edu.cn

[core]
	compression = -1
	excludesfile = ~/.gitignore_global
	eol = lf
	autocrlf = false
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX

[diff]
	tool = vimdiff
	guitool = gvimdiff
	algorithm = histogram

[difftool]
	prompt = false

[interactive]
	diffFilter = diff-so-fancy --patch

[merge]
	tool = vimdiff
	guitool = gvimdiff

[mergetool]
	prompt = false

[http]
	postBuffer = 524288000

[fetch]
	prune = true
	parallel = 0

[submodule]
	recurse = true
	fetchJobs = 0

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[color]
	ui = true

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22

[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
	func = 146 bold

[diff-so-fancy]
	first-run = false
