[user]
	name = Xuehai Pan
	email = XuehaiPan@pku.edu.cn

[core]
	compression = -1
	excludesfile = ~/.gitignore_global
	eol = lf
	autocrlf = false
	editor = vim
	pager = delta

[diff]
	tool = vimdiff
	guitool = gvimdiff
	algorithm = histogram

[difftool]
	prompt = false

[merge]
	tool = vimdiff
	guitool = gvimdiff

[mergetool]
	prompt = false

[http]
	postBuffer = 524288000

[init]
	defaultBranch = main

[pull]
	ff = only

[fetch]
	prune = true
	parallel = 0

[submodule]
	recurse = true
	fetchJobs = 0

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	list-ignored = "! cd -- \"${GIT_PREFIX:-.}\" && git ls-files -v \"${1:-.}\" | sed -n -e \"s,^[a-z] \\\\(.*\\\\)\\$,${GIT_PREFIX:-./}\\\\1,p\" && git status --ignored --porcelain \"${1:-.}\" 2>/dev/null | sed -n -e \"s/^\\\\(\\\\!\\\\! \\\\)\\\\(.*\\\\)$/\\\\2/p\";"
	config-push-remote = "! cd -- \"${GIT_PREFIX:-.}\" && GIT_BRANCH=\"${1:-\"$(git branch --show-current)\"}\" && git config branch.\"${GIT_BRANCH}\".remote upstream; git config branch.\"${GIT_BRANCH}\".pushremote origin;"
	sync-remote = "! cd -- \"${GIT_PREFIX:-.}\"; git status --porcelain && (GIT_CURRENT_BRANCH=\"$(git branch --show-current)\"; GIT_BRANCH=\"${1:-\"${GIT_CURRENT_BRANCH}\"}\"; GIT_REMOTE=\"$(git remote show | grep -E \"^upstream$\" || echo \"origin\")\"; [ \"${GIT_CURRENT_BRANCH}\" != \"${GIT_BRANCH}\" ] && gut checkout \"${GIT_BRANCH}\"; git fetch --all --tags --prune --force --jobs=16; git pull --ff-only \"${GIT_REMOTE}\" \"${GIT_BRANCH}\"; [ \"${GIT_REMOTE}\" != \"origin\" ] && git push origin \"${GIT_BRANCH}:${GIT_BRANCH}\"; [ \"${GIT_CURRENT_BRANCH}\" != \"${GIT_BRANCH}\" ] && gut checkout \"${GIT_CURRENT_BRANCH}\")"
	add-non-eolws-changes = "! cd -- \"${GIT_PREFIX:-.}\"; git diff --no-color --unified=0 --ignore-submodules=all --ignore-space-at-eol | git apply --cached --allow-empty --unidiff-zero --ignore-space-change --whitespace=nowarn -"

[color]
	ui = true

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	line-numbers = true
