! Use a nice truetype font and size by default...
*.locale: UTF-8
*.utf8: always
xterm.*.faceName: DejaVuSansM Nerd Font:style=Book
xterm.*.faceSize: 11

xterm.*.geometry:  128x40
xcalc.*.geometry:  500x600
xclock.*.geometry: 300x300
xeyes.*.geometry:  400x300

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm.*.loginShell: true

! Scrollback...
xterm.*.saveLines: 10000

! Right hand side scrollbar...
xterm.*.rightScrollBar: true
xterm.*.scrollBar: true

! Stop output to terminal from jumping down to bottom of scroll again
xterm.*.scrollTtyOutput: false

! SpaceGray Eighties color theme...
xterm.*.foreground:  #BDBAAE
xterm.*.background:  #222222
xterm.*.cursorColor: #BBBBBB
!
! Black
xterm.*.color0:      #15171C
xterm.*.color8:      #555555
!
! Red
xterm.*.color1:      #EC5F67
xterm.*.color9:      #FF6973
!
! Green
xterm.*.color2:      #81A764
xterm.*.color10:     #93D493
!
! Yellow
xterm.*.color3:      #FEC254
xterm.*.color11:     #FFD256
!
! Blue
xterm.*.color4:      #5486C0
xterm.*.color12:     #4D84D1
!
! Magenta
xterm.*.color5:      #BF83C1
xterm.*.color13:     #FF55FF
!
! Cyan
xterm.*.color6:      #57C2C1
xterm.*.color14:     #83E9E4
!
! White
xterm.*.color7:      #EFECE7
xterm.*.color15:     #FFFFFF
!
! Bold, Italic, Underline
xterm.*.colorBD:     #FFFFFF
!xterm.*.colorIT:
!xterm.*.colorUL:
