[user]
	name = XuehaiPan
	email = XuehaiPan@pku.edu.cn

[core]
	excludesfile = ~/.gitignore_global
	editor = vim

[diff]
	tool = vimdiff
	guitool = gvimdiff
	algorithm = minimal

[difftool]
	prompt = false

[merge]
	tool = vimdiff
	guitool = gvimdiff

[mergetool]
	prompt = false

[fetch]
	prune = true
	parallel = 0

[submodule]
	recurse = true
	fetchJobs = 0

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[color]
	ui = true
