[user]
name = XuehaiPan
email = XuehaiPan@pku.edu.cn

[core]
excludesfile = /Users/PanXuehai/.gitignore_global

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
